<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DefaultTheme" value="freebe" />
	<add key="WebsiteTitle" value="Freebe" />
	<add key="BlogTitle" value="Freebe Blog" />
	<add key="WebsiteDescription" value="Freebe Blog RSS Feed" />
	<add key="RssTtl" value="60" />
	<add key="RssCopyrightText" value="Copyright 2017 Freebe Inc." />
	<add key="RssPageSize" value="25" />
  </appSettings>
</configuration>